#about-hero {
  background: url("../img/backgrounds/about-min.jpg");
  background-position: center;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

#about-hero h1 {
  font-weight: 400;
  font-size: 9rem;
  text-transform: uppercase;
  margin-top: -30px;
  margin-bottom: -10px;
  margin-left: -14px;
  font-family: var(--opensans);
}

#about-hero h3 {
  /* letter-spacing: 0.2rem; */
  text-transform: uppercase;
  font-family: var(--opensans);
}

@media screen and (max-width: 1024px) {
  #about-hero h1 {
    font-size: 8rem;
  }

  /* #about-hero h3 {
  } */
}

@media screen and (max-width: 768px) {
  #about-hero h1 {
    font-size: 6rem;
    margin-bottom: 0;
    margin-left: -10px;
    margin-top: -20px;
  }

  /* #about-hero h3 {
  } */
}

@media screen and (max-width: 540px) {
  #about-hero h1 {
    font-size: 5rem;
    margin-bottom: 5px;
    margin-left: -8px;
    margin-top: -15px;
  }

  #about-hero h3 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 460px) {
  #about-hero h1 {
    font-size: 4rem;
    margin-bottom: 10px;
    margin-left: -5px;
    margin-top: -10px;
  }

  #about-hero h3 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 375px) {
  #about-hero h1 {
    font-size: 3.2rem;
    margin-bottom: 10px;
    margin-left: -5px;
    margin-top: -10px;
  }

  #about-hero h3 {
    font-size: 1.4rem;
  }
}

/* INFO */
#about-info {
  background: var(--white);
  padding: 100px 0;
  text-align: center;
}

#about-info h3 {
  color: #000;
}

/* MISSION VISION */
#vmion {
  padding: 100px 0;
  background: #000;
}

#vmion p {
  font-size: 0.875rem;
}

/* TEAM */
#team {
  padding: 100px 0;
  text-align: center;
}

#team h3,
#team h4,
#team p {
  color: #000;
}

#team h4 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: 700;
}
