#buy-hero {
  background: url("../img/backgrounds/buysmart-min.jpeg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

#buy-hero h1 {
  font-weight: 400;
  font-size: 5rem;
  text-transform: uppercase;
  margin-top: -10px;
  /* margin-bottom: -10px; */
  margin-left: -8px;
  font-family: var(--opensans);
}

#buy-hero h3 {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-family: var(--opensans);
}

/* Savings Calculator */
#savings-calculator {
  background: url("../img/backgrounds/savings-min.jpeg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  padding-top: 4rem;
}

#savings-calculator h1,
#savings-calculator h2,
#savings-calculator h3,
#savings-calculator h4,
#savings-calculator p,
#savings-calculator td {
  color: #000;
}

#savings-calculator .card-savings {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  background: var(--white);
  border-radius: 40px;
  padding: 3rem 1rem;
}

@media screen and (max-width: 540px) {
  #buy-hero h1 {
    font-size: 4rem;
  }

  #buy-hero h3 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 540px) {
  #buy-hero h1 {
    font-size: 3rem;
    margin-left: 0;
  }
}

/* FORM */
#savings-calculator form {
  padding: 1rem 0rem;
}

#savings-calculator .form-img {
  overflow: hidden;
}

#savings-calculator .form-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#savings-calculator form h3 {
  color: #000;
  text-align: center;
}

#savings-calculator input[type="text"],
#savings-calculator input[type="email"],
#savings-calculator input[type="date"],
#savings-calculator input[type="number"],
#savings-calculator select {
  background-color: transparent;
}

#savings-calculator input[type="text"],
#savings-calculator input[type="email"],
#savings-calculator input[type="date"],
#savings-calculator input[type="number"],
#savings-calculator select {
  border: none;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  outline: none;
  border-radius: 0;
}

#savings-calculator textarea {
  border: 1px solid #000;
}

#savings-calculator input[type="text"]::placeholder,
#savings-calculator input[type="email"]::placeholder,
#savings-calculator input[type="number"]::placeholder {
  font-size: 0.875rem;
  margin-bottom: 100px;
}
