#cart-next {
  padding: 100px 0;
  background: #000;
}

#cart-next .cart-box {
  box-shadow: 0px 0px 14px rgba(255, 255, 255, 0.15);
}

#cart-next .bg-grey {
  background-color: #dadada;
}

#cart-next h3 {
  font-size: 1.5rem;
}

#cart-next h5 {
  font-size: 1rem;
  color: var(--white);
}

#cart-next h4 {
  font-size: 1.3rem;
  color: var(--pri);
}

#cart-next h6 {
  font-size: 1rem;
  padding: 0;
  color: var(--white);
}

#cart-next p {
  font-size: 0.8rem;
  color: #ccc;
}

#cart-next .right-area {
  text-align: right;
}

#cart-next label {
  color: var(--white);
}

#cart-next select {
  width: 100%;
  outline: none;
}

#cart-next input {
  background-color: transparent;
  border-bottom: 1px solid var(--white);
  color: var(--white);
  padding-bottom: 5px;
  padding-top: 0px;
}

#cart-next input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

#cart-next select {
  display: block;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  background-color: rgb(0 0 0 / 0%);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#cart-next .del-btn {
  padding: 5px 10px;
  border: 1px solid #fff;
  color: var(--white);
}

#cart-next a {
  color: var(--white);
  font-family: var(--sen);
}

#cart-next .cart-img {
  max-width: 150px;
}

#cart-next table tr td {
  font-family: var(--opensans) !important;
}

#cart-next .bg-box {
  background-color: rgb(17, 17, 17);
}

@media screen and (max-width: 992px) {
  #cart-next .right-area {
    text-align: left;
    width: 100%;
  }
}

.MuiStepper-root {
  padding: 24px 0px !important;
}

.MuiPaper-root {
  background-color: transparent !important;
}

.MuiStepLabel-label {
  color: #fff !important;
}

@media screen and (max-width: 768px) {
  .MuiStepLabel-label {
    display: none !important;
  }
}
