#emi-hero {
  background: url("../img/backgrounds/emi-min.jpeg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

#emi-hero h1 {
  font-weight: 400;
  font-size: 5rem;
  text-transform: uppercase;
  margin-top: -10px;
  /* margin-bottom: -10px; */
  margin-left: -8px;
  font-family: var(--opensans);
}

#emi-hero h3 {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-family: var(--opensans);
}

#emi-hero a {
  text-decoration: none;
}

@media screen and (max-width: 540px) {
  #emi-hero h1 {
    font-size: 4rem;
  }

  #emi-hero h3 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 540px) {
  #emi-hero h1 {
    font-size: 3rem;
    margin-left: 0;
  }
}

#emi {
  padding: 100px 0;
  background: #000;
}

#emi .emi-form {
  max-width: 600px;
}

#coming-soon {
  padding: 100px 0;
  background: #000;
}

#emi label {
  color: var(--white);
}

#emi select {
  display: block;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: rgb(0 0 0 / 0%);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#emi select option {
  background-color: rgb(20, 20, 20);
  color: #fff;
}
