#product-hero {
  height: 70vh;
  padding: 100px 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#product-hero h1 {
  font-size: 22vw;
}

#product-info {
  background: #000;
  padding: 100px 0;
}

#product-info h2 {
  text-align: left;
}

#product-info p {
  text-align: left;
}

td {
  text-align: left;
  font-family: var(--sen);
  color: var(--white);
  min-width: 90px;
}

#product-text {
  padding: 100px 0;
}

#product-text p,
#product-text h1,
#product-text h2 {
  color: #000;
}

#product-numbers {
  padding: 100px 0;
  background: url("../img/backgrounds/trex-numbers.jpg");
  background-position: center;
  background-size: cover;
}

#product-numbers .numbers {
  text-align: center;
  padding: 100px 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

#product-numbers .numbers h1 {
  font-weight: 800;
  font-size: 7rem;
  margin-bottom: -10px;
  margin-top: -10px;
}

#product-info .content-2 {
  text-align: center;
}

#product-info .content-2 h1 {
  font-size: 12rem;
  display: inline-block;
}

#product-info .content-2 p {
  text-align: center;
  display: inline-block;
}

#buy {
  padding: 100px 0;
  background: #000;
}

#buy .buy-box {
  background: #1c1c1c;
}

#done {
  padding: 100px 0;
  background: var(--white);
}

#done h2 {
  color: #000;
}

#done .done-box {
  text-align: center;
}

#done .done-box img {
  margin-bottom: 30px;
  max-width: 80px;
}

#done .done-box h4 {
  color: #000;
}
