#sign {
  min-height: 100vh;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("../img/backgrounds/sign.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#sign .form-box {
  background: #000;
  padding: 2rem;
  border-radius: 20px;
}

#sign hr {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

#sign input[type="text"],
#sign input[type="email"],
#sign input[type="password"] {
  border: none;
  border-bottom: 1px solid white;
  background: rgba(255, 255, 255, 0);
  border-radius: 0;
  font-family: var(--sen);
  color: var(--white);
}

#sign input[type="text"]::placeholder,
#sign input[type="email"]::placeholder,
#sign input[type="password"]::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

#sign input[type="text"]:focus,
#sign input[type="email"]:focus,
#sign input[type="password"]:focus {
  border-bottom: 1px solid var(--pri);
}

#sign input[type="submit"] {
  background: rgba(255, 255, 255, 0);
  border-radius: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  color: var(--white);
  text-transform: uppercase;
  font-family: var(--sen);
  font-size: 0.875rem;
  min-height: 45px;
}

#sign p {
  font-size: 0.875rem;
}

#sign a {
  color: var(--white);
  text-decoration: underline;
}
