@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Sen:wght@400;700;800&display=swap");

:root {
  --white: #fff;
  --pri: #68db85;
  --para: #f0ede9;
  --opensans: "Open Sans", sans-serif;
  --sen: "Sen", sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--sen);
  color: var(--white);
}

h1 {
  font-weight: 800;
}

h2 {
  font-weight: 700;
  font-size: 1.875rem !important;
}

h3 {
  font-weight: 400;
  font-size: 1.875rem;
}

h4 {
  font-family: var(--opensans);
  color: var(--white);
  text-transform: uppercase;
  font-size: 1rem !important;
  letter-spacing: 0.1rem;
}

h5 {
  font-family: var(--sen);
  color: var(--pri);
  font-size: 0.8rem !important;
  text-transform: uppercase;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--white);
  opacity: 0.8;
}

button:hover {
  cursor: pointer;
}

.pan-background {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
select:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.pri {
  color: var(--pri) !important;
}

.loader {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 1111;
  background: #000;
}

.loader-img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 16px;
}

/* for mobile */
@media screen and (max-width: 767px) {
  .whatsapp-icon {
    margin-top: 10px;
  }

  .whatsapp_float {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 10px;
    font-size: 22px;
  }
}

/* HEADER */
/* NAVBAR */

.navbar {
  font-family: var(--sen);
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--white);
  background: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
}

.navbar .nav-item .nav-link {
  color: #fff;
  transition: all 0.1s linear;
}

.navbar .nav-item .nav-link:hover {
  color: #fff;
  opacity: 0.6;
}

.dropdown-menu {
  font-size: 0.875rem;
}

@media only screen and (max-width: 768px) {
  .navbar-collapse {
    background: #000;
  }
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgba(0, 0, 0, 0);
}

.custom-toggler.navbar-toggler:focus {
  border-color: rgba(0, 0, 0, 0);
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

/* BUTTON */
.em-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer !important;
  /* z-index: 900; */
  position: relative;
}

.em-btn .hex-box {
  position: relative;
}

.em-btn .hex-box .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.em-btn h4 {
  margin-bottom: 0;
  font-size: 0.875rem !important;
}

/* DESIGN */
.dots {
  width: 280px;
}

/* CONTACT */
#footer {
  background: #000;
  padding: 100px 0;
}

#footer p {
  margin-bottom: 0;
}

#footer a {
  color: var(--white);
}

#footer .footer-logo-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

#footer .footer-logo-box .vertical-rule {
  height: 100%;
  background: var(--white);
  width: 1px;
}

#footer a {
  text-decoration: none;
}

#footer .copyright {
  text-align: center;
  color: #fff;
  opacity: 0.5;
  margin-top: 5rem;
  margin-bottom: -3rem;
  font-size: 0.8rem;
}

#footer .social-links a i {
  font-size: 1.6rem;
}

#footer .social-links a i:hover {
  color: var(--pri);
}
