#warranty {
  padding: 100px 0;
  background: #000;
}

#warranty input[type="text"],
#warranty input[type="email"],
#warranty input[type="date"],
#warranty input[type="number"],
#warranty select {
  width: 100%;
  outline: none;
  background: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  padding-bottom: 10px;
}

#warranty label {
  color: #fff;
}

#warranty option {
  color: #000;
}

#warranty input[type="text"]:focus,
#warranty input[type="email"]:focus,
#warranty input[type="number"]:focus,
#warranty input[type="date"]:focus,
#warranty select:focus {
  width: 100%;
  outline: none;
  background: transparent;
  border-radius: 0;
  border-bottom: 1px solid var(--pri);
  color: #fff;
}

#warranty input[type="text"]::placeholder,
#warranty input[type="email"]::placeholder,
#warranty input[type="number"]::placeholder,
#warranty input[type="date"]::placeholder,
#warranty select::placeholder {
  font-size: 0.875rem;
  margin-bottom: 100px;
  color: #fff;
}

#warranty ::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
